<%= form_for @term do |f| %>
  <p>
    <%= f.label :name, "Название" %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description, "Описание" %><br>
    <%= f.text_area :description %>
  </p>
  
  <%= f.fields_for :relateds do |builder| %>
		<%= render 'related_fields', :f =>builder %>
	<% end %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>