<h1>Словарь</h1>
<%= link_to 'Создать новую статью', new_term_path %>
<table>
  <tr>
    <th>Название</th>
    <th>Опции</th>
    <th colspan="3"></th>
  </tr>
 
  <% @terms.each do |term| %>
    <tr>
		<td><%= link_to term.name, term_path(term) %></td>
		<td><%= link_to 'Редактировать', edit_term_path(term) %></br>
		<%= link_to 'Уничтожить', term_path(term),
						method: :delete,
						data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>